@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lora&family=Montserrat:wght@300;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

html {
    background-color: #0C110D;
}

body {
    font-family: 'Montserrat' ,sans-serif;
    overflow-x: hidden;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.header {
    background: url('../images/bg.png') no-repeat center 55%;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 -30px 20px -4px rgba(12,17,13,.5),
    inset 0 -50px 20px -42px rgba(12,17,13,.4),
    inset 0 -70px 20px -4px rgba(12,17,13,.3),
    inset 0 -200px 20px -4px rgba(12,17,13,.2);
    
}

.container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    padding-top: 55px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Caveat', sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 66px;
}

.nav-list {
    display: flex;
}

.nav-list_item {
    font-size: 22px;
    font-weight: 300;
    line-height: 27px;
    transition: all .5s;
}
.nav-item:not(:last-child) {
    margin-right: 100px;
}

.nav-list_item:hover {
    color: rgb(13,196,13);
}

.header-content {
    width: 100%;
    margin: 144px auto 0;
    text-align: center;
}

.header-content_title {
    margin: 0 auto;
    width: 930px;
    font-family: 'Lora', sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 123px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.header-button {
    background-color: #fff;
    padding: 45px 150px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    transition: all .5s;

}

.header-button:hover {
    background-color: rgba(44,80,19,0.6);
}

.header-btn {
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.header-social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 166px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.header-social a {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 25px;
    color: #6F6F6F;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    height: 100%;
    justify-content: space-between;
    margin-top: 70px;
}

.header-bottom img  {
    color: #6F6F6F;
    width: 32px;
    height: 32px;
}

.header-bottom .arrow {
    width: 25px;
    height: 25px;
}

/*why section*/

.why {
    margin-top: 200px;
    text-align: center;
    position: relative;
}

.why::before {
    position: absolute;
    height: 2px;
    width: 385px;
    content: '';
    background-color: #fff;
    right: 0;
    top: 0;
}

.why::after {
    position: absolute;
    height: 2px;
    width: 385px;
    content: '';
    background-color: #fff;
    left: 0;
    bottom: 0;
}

.why-title {
    padding-top: 66px;
    font-family: 'Lora', sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 123px;
    text-align: center;
}

.why-elements {
    margin-top: 130px;
    width: 100%;
    max-width: 1515px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.why-element {
    width: 320px;
    height: 320px;
    border: 3px solid #FFFFFF;
    padding: 41px 18px;
    transition: all .5s;
    
}

.elem-img {
    width: 90px;
    height: 90px;
}

.element-title {
    font-weight: 600;
    margin-top: 18px;
}

.element-subtitle {
    margin-top: 33px;
    font-size: 16px;
    font-weight: 500;
}

.why-element:hover {
    transform: scale(1.2);
}

.slider-content {
    display: flex;
    justify-content: space-between;
}
.slider-info {
    max-width: 750px;
    width: 100%;
}
.slider-day {
    margin-top: 140px;
    font-weight: 500;
    font-size: 36px;
}
.slider-title {
    margin-top: 100px;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}
.slider-description {
    font-weight: 400;
    margin-top: 90px;
    margin-bottom: 60px;
}
.slider_buttons {
    margin-left: 110px;
}
.slider-btn {
    width: 180px;
    height: 50px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 10px 5px 81px;
    font-weight: 500;
    margin-right: 30px;
    position: relative;
}
.btn-next::before {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 129px 24px 17px;
    content: url('../images/right.png');
}
.btn-prev::before {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 129px 24px 17px;
    content: url('../images/left.png');
}
.slider-link {
    margin-left: 100px;
    margin-top: 40px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
.slider-image {
    margin-top: 100px;
    width: 570px;
    height: 640px;
}

.slick-dots {
    list-style: none;
    display: flex;
    position: absolute;
    right: 170px;
    bottom: 20px;
}

.slick-dots li {
    margin: 0 9px;
}
.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    bottom: 0;
    font-size: 0;
    background: rgba(255,255,255,.6);
    cursor: pointer;
    outline: none;
    transition: all .5s;
}

.slick-dots .slick-active button {
    background: #fff;
    transform: scale(1.2);
}

.slick-arrow {
    display: none;
}

.tour {
    margin-top: 300px;
    margin-bottom: 300px;
    background-image: url('../images/tour-bg.png');
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -30px 20px -4px rgba(12,17,13,.5),
    inset 0 -50px 20px -42px rgba(12,17,13,.4),
    inset 0 -70px 20px -4px rgba(12,17,13,.3),
    inset 0 -200px 20px -4px rgba(12,17,13,.2);
}

.tour-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1322px;
    text-align: center;
}

.tour-title {
    font-size: 96px;
    font-family: 'Lora', sans-serif;
    line-height: 122px;
    font-weight: 400;
}

.tour-subtitle {
    font-weight: 500;
    font-size: 48px;
    margin-top: 80px;
}

.tour-button_article {
    margin-top: 100px;
    max-width: 1322px;
    width: 100%;
    height: 275px;
    background: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.tour_button-container {
    color: #000;
    margin: 0 auto;
    padding-top: 86px;
    display: flex;
    width: 955px;
    height: 100px;
    justify-content: space-between;
}

.tour-days {
    margin-top: 22px;
    margin-right: 73px;
    width: 155px;
    text-align: left;
}

.tour-day {
    font-weight: 500;
    font-size: 18px;
}

.tour-price {
    font-weight: 600;
    font-size: 48px;
}

.tour_button-container button {
    width: 400px;
    height: 100px;
    background-color: #0C110D;
    transition: all .5s;
}

.tour_button-container button:hover {
    transform: scale(1.2);
}

.tour-btn {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}

.tour-description {
    width: 223px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 22px;
}

.tour-enter_article {
    margin-left: 55px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.include-title {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 33px;
    line-height: 44px;
}

.include-list {
    margin-left: 20px;
    list-style: disc;
}

.include-item {
    margin-top: 22px;
}

.tour-title_data {
    display: flex;
}
.include-title_img {
    margin-right: 40px;
}

.list-title {
    margin-top: 25px;
    font-weight: 600;
}

.sub-container {
    text-align: center;
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 220px;
}
.sub-title {
    font-family: 'Lora', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 100px;
}

.email {
    width: 850px;
    height: 100px;
    border: 3px solid #FFFFFF;
    background: #000;
    color: #fff;
    padding-left: 75px;
    outline: none;
    font-size: 30px;
}
.subscribe-btn {
    display: inline;
    outline: none;
    margin-left: 0;
    font-size: 30px;
    font-weight: 600;
    width: 430px;
    height: 100px;
}

.about {
    background: url('../images/about.png') no-repeat center;
    background-size: cover;
    text-align: center;
    padding-bottom: 200px;
}

.about-title {
    padding-top: 79px;
    font-size: 96px;
    font-weight: 400;
    font-family: 'Lora', sans-serif;
    margin-bottom: 80px;
}

.about-subtitle {
    position: relative;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    font-size: 48px;
    font-style: italic;
}

.about-subtitle::before {
    position: absolute;
    left: -450px;
    top: 25px;
    content: '';
    height: 3px;
    width: 415px;
    background: #fff;
}
.about-subtitle_second {
    line-height: 58px;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 175px;
    margin-top: 149px;
}

.about-elements {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.element-title {
    font-weight: 600;
    margin-top: 40px;
}

